/* VARIABLES */
:root{
    --cinereous: #93827F;
    --goldenRod: #F3F9D2;
    --laurel: #BDC4A7;
    --jet: #2F2F2F;
    --cambridge: #92B4A7;

    --headingFont: Staatliches;
    --headingFont2: Unica One;
    --normalFont: Raleway;
} 

#a{
    text-decoration: none;
}

/* MAIN PAGE */
/* TOP PAGE CSS */
#index {
    background-color: var(--jet);
}

#top-page {
    padding-bottom: 50px;
    background-color: var(--jet);
}

#logo {
    text-align: center;
    padding-top: 3%;
    font-family: var(--headingFont); 
    font-size: 310%;
    color: var(--cinereous);
}

#logo img {
    height: 300px;
}

.jump {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* BLOG CSS */
#blog {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--goldenRod);
}

#blog h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 30px;
}

#chatDiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    border: var(--goldenRod) 5px solid;
    width: auto;
    background-color: var(--goldenrod)  ;
    font-size: 20px;
}

/* BOTTOM PAGE CSS */
#bottom-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0px;
    background-color: var(--jet);
    color: var(--laurel);
    font-family: var(--headingFont);
}

#bottom-page p {
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#bottom-page a {
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: var(--goldenRod);
    background-color: var(--cinereous); 
}


/* SUBMISSION PAGE */
#submitPage {
    background-color: var(--jet);
}

/* TOP PAGE 2 */
#top-page2 {
    background-color: var(--jet);
    color: var(--laurel);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-family: var(--headingFont);
}

#top-page2 h1 {
    display: flex;
    justify-content: center;
    font-size: 500%;
    font-weight: lighter;
    margin-bottom: 20px;
}

#top-page2 h2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 200%;
    font-weight: lighter;
}

/* INPUTS */
#inputs {
    background-color: var(--laurel);
    padding-top: 40px;
    padding-bottom: 40px;
}

.submissions {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--jet);
    background-color: var(--goldenRod);
    border-color: var(--laurel);
    outline: none;
    border-radius: 20px;
}

#appear {
    display:none;
}

#image-input {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin:auto;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

#image-input input{
    margin-top: 15px;
}

#location-input {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#name-input {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#date-input {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#date-submit {
    width: 335px;
}

#extra-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 340px;
    margin:auto;
}

#scientific-input {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#taxon {
    margin-bottom: 30px;
    font-family: var(--normalFont);
    font-weight: bold;
    font-size: 20px;
    background-color: var(--goldenRod);
    margin: auto;
    width: 340px;
    border-radius: 20px;
}

#taxon p {
    text-align: center;
}

#extra-submit {
    resize: vertical;
    max-height: 300px;
}

#submit {
    display: flex;
    justify-content: center;
}

#data-submit{
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--goldenRod);
    height: 40px;
    width: 180px;
    margin-right: 30px;
}

#find-taxon{
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--goldenRod);
    height: 40px;
    width: 180px;
    margin-right: 30px;
}

#add-more {
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--goldenRod);
    height: 40px;
    width: 180px;
}

#submit button:hover {
    background-color: #f3f9d29f;
}

/* PREVIEW */
#previewDiv {
    padding-top: 50px;
    padding-bottom: 30px;
}

#previewContent {
    display: flex;
    margin: 100px;
    min-height: 300px;
    border: var(--laurel) 5px solid;
    background-color: var(--cambridge);
}

.left-preview {
    margin-bottom: 50px;
    margin-left: 100px;
}

.right-preview {
    display:flex;
    flex-direction: column;
    margin: auto;
}

.previewImg {
    margin: auto;
    margin-top: 100px;
    margin-bottom:50px;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.previewDate {
    margin-bottom: 40px;
    color: var(--goldenRod);
    font-size: 40px;
    font-weight: bolder;
    text-shadow: var(--jet) 1px 1px;
    font-family: var(--normalFont);
}

.previewTxt {
    font-size: 70px;
    font-family: var(--headingFont2);
    text-align: center;
    margin: 10px;
}

.nameColor {
    color: var(--goldenRod);
    margin-top: 50px;
}

.locationColor {
    margin-bottom: 30px;
    color: rgb(185, 49, 49);
    text-shadow: rgb(90, 6, 6) 2px 2px;
}

.previewExtra {
    font-size: 25px;
    font-family: var(--normalFont);
    font-weight: 1000;
    color: var(--goldenRod);
    text-shadow: var(--cinereous) 2px 2px;
    line-height: 35px;
    margin: auto;
}

.previewExtraDiv {
    height: 400px;
    width: 700px;
    overflow: auto;
    text-align: center;
    margin-bottom: 50px;
}

.apiData {
    display: none;
    flex-direction: column;
    margin: auto;
}

.apiHeading {
    font-size: 40px;
    text-align: center;
    font-family: var(--headingFont);
    color: var(--goldenRod);
    text-shadow: var(--laurel) 2px 2px;
}

.apiImage {
    margin-top: 10px;
    margin-bottom:10px;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.apiIUCN {
    font-size: 30px;
    text-align: center;
    font-family: var(--headingFont);
    color: rgb(234, 9, 9);
}

.apiDate {
    font-size: 25px;
    text-align: center;
    font-family: var(--normalFont);
    font-weight: bold;
    color: rgb(138, 9, 9);
}

.apiCoords {
    font-size: 25px;
    text-align: center;
    font-family: var(--normalFont);
    font-weight: bold;
    color: rgb(138, 9, 9);
}

.apiLocation {
    font-size: 25px;
    text-align: center;
    font-family: var(--normalFont);
    font-weight: bold;
    color: rgb(138, 9, 9);
}

.seeMore {
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--goldenRod);
    height: 40px;
    width: 180px;
    margin: auto;
    margin-bottom: 30px;
}

.report {
    background-color: var(--cambridge);
    display:flex;
    width: 70vw;
    margin: 50px;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

#confirm {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#confirm button {
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--goldenRod);
    height: 40px;
    width: 180px;
}

#confirm button:hover {
    background-color: #f3f9d29f;
}

/* ABOUT ME + SOURCES*/
#about {
    background-color: var(--jet);
}

#top-page3 {
    background-color: var(--jet);
    color: var(--laurel)
}

#main-heading {
    text-align: center;
    font-family: var(--headingFont);
    margin-bottom: 50px;
    font-size: 500%;
}

.about-heading {
    text-align: center;
    font-family: var(--headingFont);
    font-size: 350%;
    margin-bottom: 70px;
}

#top-heading-items {
    text-align: center;
    display: flex; 
}

.about-image{
    margin-right: 10%;
    margin-top: 7%;
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
} 

.about-text {
    font-family: var(--normalFont);
    font-size: 160%;
    text-align: justify;
    margin-right: 12%;
    margin-left: 12%;
}

#development-items {
    text-align: center;
    display: flex;
}

#middle-about-page {
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--laurel);
    color: var(--jet)
}

#role-items {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#role-items p {
    margin-bottom: 0px;
}

#role-items ul {
    list-style-type: none;
}

#role-items li {
    padding: 40px;
}

#tool-items {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#tool-items p {
    margin-bottom: 0px;
}

#tool-items ul {
    list-style-type: none;
    margin-left: 100px;
}

#tool-items li {
    padding: 40px;
}

.tool-sections {
    display: flex;
    margin-top: 50px;
}

.tool-sections a {
    margin-left: 200px;
}

.tool-image {
    width: 500px;
    height:350px;
    object-fit: cover;
    border-radius: 40px;
}

#bottom-about-page {
    margin-top: 50px;
    margin-bottom: 50px;
    position:sticky;
    bottom: 20px;
    text-align: center;
    font-family: var(--headingFont);
}

#bottom-about-page a {
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: var(--goldenRod);
    background-color: var(--cinereous);
}

/* MEDIA QUERIES */
@media(max-width: 1400px) {
    .previewImg{
        height: 300px;
        width: 300px;
    }
}

@media(max-width: 1000px) {
    .previewImg{
        height: 200px;
        width: 200px;
    }
}